window {
  background: rgba(6, 8, 14, 0.96);
}

/* ===== БАЗА ===== */
button {
  background-color: rgba(18, 20, 35, 0.9);
  color: #f1eaff;

  font-family: "JetBrains Mono", "Symbols Nerd Font", sans-serif;
  font-size: 18px;
  font-weight: 700;

  border: 1px solid rgba(168, 139, 255, 0.25);
  border-radius: 20px;

  padding: 20px;
  margin: 10px;

  min-width: 220px;
  min-height: 180px;

  box-shadow:
    0 0 15px rgba(120, 80, 255, 0.15),
    0 0 30px rgba(120, 80, 255, 0.08),
    0 10px 30px rgba(0, 0, 0, 0.5);

  background-repeat: no-repeat;
  background-position: center 34%;
  background-size: 38%;

  transition:
    border-color 0.07s ease-out,
    box-shadow 0.07s ease-out,
    background-color 0.07s ease-out,
    text-shadow 0.07s ease-out;
}

/* текст вниз */
button label {
  margin-top: 0;
}

/* ===== HOVER ===== */
button:hover {
  background-color: rgba(18, 20, 35, 0.9);
  border-color: rgba(200, 170, 255, 0.7);

  box-shadow:
    0 0 25px rgba(160, 120, 255, 0.4),
    0 0 50px rgba(120, 80, 255, 0.2),
    0 10px 30px rgba(0, 0, 0, 0.6);

  text-shadow:
    0 0 6px rgba(180, 140, 255, 0.8),
    0 0 12px rgba(140, 90, 255, 0.6);
}

/* ===== FOCUS ===== */
button:focus {
  background-color: rgba(55, 40, 110, 0.95);
  border-color: rgba(220, 200, 255, 0.9);
}

button:active {
  background-color: rgba(55, 40, 110, 0.95);
  border-color: rgba(220, 200, 255, 0.9);
}

/* ===== РУНЫ ===== */
#lock {
  background-image: image(url("__HOME__/.config/wlogout/lock.png"));
  color: #e6ddff;
}

#lock:focus {
  outline: none;
  border-color: rgba(168, 139, 255, 0.25);
}

#logout {
  background-image: image(url("__HOME__/.config/wlogout/exit.png"));
  color: #cdbbff;
}

#suspend {
  background-image: image(url("__HOME__/.config/wlogout/suspend.png"));
  color: #bfa8ff;
}

#hibernate {
  background-image: image(url("__HOME__/.config/wlogout/hibernate.png"));
  color: #a78bfa;
}

#reboot {
  background-image: image(url("__HOME__/.config/wlogout/reboot.png"));
  color: #d4c2ff;
}

#shutdown {
  background-image: image(url("__HOME__/.config/wlogout/shutdown.png"));
  color: #ffb3ff;
}
